Name:Shiv Sankar Maity.
Batch:Data Science With Generative Ai - April'24

1. Write a code to reverse a string.

In [ ]:
a = "pwskills"[::-1]
print(a)

sllikswp

2. Write a code to count the number of voweles in a string.

In [ ]:
string=input("enter a atring:")
count=0
string=string.lower()
for i in string:
  if i =='a' or i == 'e' or i == 'i' or  i == 'o' or i == 'u':
    count+=1
if count == 0:
  print("no vowels found")
else:
  print("total vowels are :" +str(count) )

enter a atring:shisAnkarmaity
total vowels are :5

3. Write a code to check if a given string is a palindrome or not.

In [ ]:
x = "malayalam"
w = ""
for i in x:
  w= i + w
if x==w:
  print("yes")
else:
  print("no")

yes

4. Write a code to check if two given strings 'are anagrams of each other.

In [ ]:
s1="listen"
s2="silent"
s1_sorterd=(sorted(s1))
s2_sorted=(sorted(s2))
if s1_sorterd==s2_sorted:
  print(f"{s1} and {s2} are anagrams")
else:
  print("not")

listen and silent are anagrams

5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
a="i am learning datascience"
print(a.find("am"))

2

6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
a = "pwskills"
print(a.count("l"))

2

8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
name = "Shiv Sankar Maity"
print(name.lower())
print(name.upper())

shiv sankar maity
SHIV SANKAR MAITY

9. Write a code to count the number of words in a string.

In [ ]:
a = "i am learning datascience"
count=0
for i in a:
  count+=1
print(count)

25

10. Write a code to concatenate two strings without using the + operator.

In [ ]:
s1="hello"
s2="world"
print(" ".join([s1,s2]))

hello world

11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
book= ["physics","math","biology","history"]
book.remove("history")
print(book)

['physics', 'math', 'biology']

12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
a=[100,99,20,104,109]
print(max(a))
a.remove(109)
print("2nd largest no is:",max(a))

109
2nd largest no is: 104

13. Create a code to count the occurrences of each element in a list and return a dictionary
 with elements 'as
keys
 and their counts as values.

In [ ]:
a={"name":"shiv","email":"shiv@gmail.com","conctact":"1234"}
print(a.keys())
print(a.values())

dict_keys(['name', 'email', 'conctact'])
dict_values(['shiv', 'shiv@gmail.com', '1234'])

14. Write a code to reverse  a list in-place without using an
 built-in reverse functions.

In [ ]:
a =[123,"shiv","radhe","ajay",True]
a_rev=[]
for i in range(len(a)-1,-1,-1):
  a_rev.append(a[i])
print(a_rev)

[True, 'ajay', 'radhe', 'shiv', 123]

15. Implement a code to find and remove duplicates from a list while preserving the origin'l order of
elements.

In [ ]:
a=[1,1,2,2,5,6,7,9,]
b=[]
for i in a:
  if i not in b:
    b.append(i)
print(b)

[1, 2, 5, 6, 7, 9]

16. Create a code to check if a given list is sorted (either in acending or descending order) or not.

In [ ]:
a = [6,7,9,4,3]
a_accen=a.sort()
a_deccen=a.sort(reverse=True)
if a==a_accen:
  print("a in accending order")
elif a==a_deccen:
  print("a in deccening order")
else:
  print("a in regular order")

a in regular order

17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
my_list=['brinjal','potato','sweet','chocklet']
brother_list=['milk','egg','chicken']
a=print(my_list+ brother_list)
print(a.sort())

['brinjal', 'potato', 'sweet', 'chocklet', 'milk', 'egg', 'chicken']

AttributeError: 'NoneType' object has no attribute 'sort'

18. Implement a code to find the intersection of two given list

In [ ]:

s1={"shiv","radhe","ajay"}

s2={"krishna","mahadev","radhe"}
print(s1 & s2)

{'radhe'}

19. Create code to find the union of two listes without duplicate

In [ ]:
s1={"radhe","datascience","pythpon","java"}
s2={"shiv","ajay","krishna","radhe"}
print(s1|s2)

{'krishna', 'ajay', 'pythpon', 'radhe', 'java', 'datascience', 'shiv'}

21.Write code that takes two tuples as input and return a new tuple ocntaining elements that are
common to both input tuples

In [ ]:
from types import new_class
movie=('thor','don','radhe')
lis=(1,3,'radhe')
new_list=(movie+lis)
print(new_list)
print(movie & lis)

('thor', 'don', 'radhe', 1, 3, 'radhe')

TypeError: unsupported operand type(s) for &: 'tuple' and 'tuple'

22. Create a code that prompts the user to enter two sets of integers separated by
 comma Then print the
intersection of the two sets

In [ ]:
set1={1,2,3,4}
set2={2,4,6,8}
print(set1.intersection(set2))

{2, 4}

23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [ ]:
tup_1=("radhe","shiv","ajay")
tup_2=(1,"456",9,2+4j)
print(tup_1+tup_2)

('radhe', 'shiv', 'ajay', 1, '456', 9, (2+4j))

'24.Devalop a code that prompts the user to input two sets of strings. Then print the elements that are
present in the first set but not in the second set.

In [ ]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", "photography", "travelling"}
print(s1-s2)

{'hiking', 'reading'}

25. Creata a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices.

In [ ]:
s={(1,2,3),1,2}
for i in s:
  print(i)

1
2
(1, 2, 3)

26. Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.

In [ ]:
set1={"ajay","shiv","radhe"}
set2={"ajay","datascience","python"}
print(set1.union(set2))

{'radhe', 'ajay', 'python', 'datascience', 'shiv'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking.

In [ ]:
n=(100,23,45)
print(max(n))
print(min(n))
n1,n2,n3=n
print(n1)
print(n2)

100
23
100
23

28. Create a code that defines two sets of integers. Then print the union intersection and difference of these
two sets.

In [ ]:
s1={1,2,3,4,5}
s2={4,2,6,8,10}
print(s1&s2)
print(s1|s2)
print(s1-s2)
print(s1^s2)

{2, 4}
{1, 2, 3, 4, 5, 6, 8, 10}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple.

In [ ]:
s=('pwskills', (7+3j), True, 1, 2, 1, 1, 2, 2.2)
print(s.count(1))

4

30. Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of
these two sets.

In [ ]:
set1={"ajay","shiv","radhe"}
set2={"ajay","datascience","python"}
print(set1^set2)

{'radhe', 'python', 'datascience', 'shiv'}

31. Write a code that takes a list of words as input +nd returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list.

In [ ]:
list1 = ["ajay","shiv","deloite","ericsson","deloite","ajay"]
s = set(list1)
print(s)

{'ajay', 'deloite', 'ericsson', 'shiv'}

32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.

In [ ]:
d={'name': ['Ajay', 'Bijay', 'Sanjay']}
d1 = {"course": "DS", "start": "20th mar"}

print(d|d1)

{'name': ['Ajay', 'Bijay', 'Sanjay'], 'course': 'DS', 'start': '20th mar'}

33. Write a code to access a value in a nested dictionary. The function should take the dictionare and a list of
keys as input +nd return the corresponding value. If any of the keys do not exist in the diction+ary the
function should return None.

In [ ]:
employee_records = {
    'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}
}
print(employee_records['E003'])

{'name': 'David Lee', 'department': 'Finance', 'salary': 80000}

34. Write a code that takes a dictionary is input and returns a sorted version of it basad on the values. You
can choose whether to sort in ascending or descending order.

In [ ]:
a={'a':1,'b':5,'c':9}
b=sorted(a.items(),key=lambda x:x[1],reverse=True)
print(b)

[('c', 9), ('b', 5), ('a', 1)]

35. Write a code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [ ]:
a={101:"akshat",201:"ball"}
print(a)
inv_a=dict(zip(a.values(),a.keys()))
print(inv_a)

{101: 'akshat', 201: 'ball'}
{'akshat': 101, 'ball': 201}